In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv")

In [3]:
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
...,...,...,...,...,...,...
1785992,RPC430LWZJ60T,5,1,1,N,N
1785993,R347MZT5FH6HRJ,5,2,2,N,N
1785994,RJ5BETZP0VIUS,1,0,2,N,N
1785995,R85QTDO2KZMGO,1,1,3,N,N
1785996,R2W36RZZZNTYWF,5,1,1,N,N

In [4]:
high_votes_df = vine_df.loc[(vine_df["total_votes"] >= 20)]

In [6]:
helpful_votes_df = high_votes_df.loc[((high_votes_df["helpful_votes"] / high_votes_df["total_votes"]) >= 0.5)]

In [8]:
vine_yes_df = helpful_votes_df.loc[(helpful_votes_df["vine"] == "Y")]

In [27]:
vine_no_df = helpful_votes_df.loc[(helpful_votes_df["vine"] == "N")]

In [31]:
vine_yes_count = vine_yes_df["review_id"].count()
vine_yes_count

94

In [32]:
vine_yes_5stars = vine_yes_df.loc[(vine_yes_df["star_rating"] == 5), "review_id"].count()
vine_yes_5stars

48

In [33]:
vine_yes_percent = vine_yes_5stars / vine_yes_count * 100
vine_yes_percent

51.06382978723404

In [28]:
vine_no_count = vine_no_df["review_id"].count()
vine_no_count

40471

In [29]:
vine_no_5stars = vine_no_df.loc[(vine_no_df["star_rating"] == 5), "review_id"].count()
vine_no_5stars

15663

In [30]:
vine_no_percent = vine_no_5stars / vine_no_count * 100
vine_no_percent

38.701786464381904

In [36]:
data = {"Total Reviews": [vine_yes_count, vine_no_count], "5 Star Reviews": [vine_yes_5stars, vine_no_5stars], "Percentage of 5 Star Reviews": [vine_yes_percent, vine_no_percent]}
index = ["Vine Review", "Non Vine Review"]
vine_review = pd.DataFrame(data=data, index=index)
vine_review

                 Total Reviews  5 Star Reviews  Percentage of 5 Star Reviews
Vine Review                 94              48                     51.063830
Non Vine Review          40471           15663                     38.701786